# ignore database files
/db/*.sqlite3
/db/*.sqlite3-*

# ignore all logfiles and tempfiles
/log/*
/tmp/*

# compiled stylesheet files
/public/assets

# don't check in the lockfile; this is pinned in guix
Gemfile.lock
