<%= render "grid", cells: Recipe.count_all_cooks %>

<h1>recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
  <li>
    <a href="<%= recipe_path(recipe) %>">
      <%= recipe.title %>
    </a>
  </li>
  <% end %>
</ul>
